body {
  margin: 0;
  font-family: -apple-system, 'Sofia Sans Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
